{% extends "foundation/base.html" %}
{% set title ='Titulo bamba' %}

{% block content %}
	
	<h4>Lista de Usuarios</h4>
	<ul>
	{% for user in users %}
		<li>
			<strong>User Id:</strong> <span>{{user.id}}</span>
			<strong>Username:</strong> <span>{{user.username}}</span>
		</li>
	{% endfor %}
	</ul>


	<h4>Lista de Alumnos</h4>
	<ul>
	{% for student in students %}
		<li>
			<strong>Student Id:</strong> <span>{{student.id}}</span>
			<strong>Full Name:</strong> <span>{{student.name}} {{student.lastname}}</span>
			<strong>Code:</strong> <span>{{student.code}}</span>
			<strong>Tutor:</strong> <span>{{student.tutor}}</span>
		</li>
	{% endfor %}
	</ul>


	<h4>Lista de Grupos</h4>
	<ul>
	{% for group in groups %}
		<li>
			<strong>Group Code:</strong> <span>{{group.code}}</span>
			<strong>Students:</strong> <span>{{group.students}}</span>
			<strong>Tutor:</strong> <span>{{group.tutor}}</span>
		</li>
	{% endfor %}
	</ul>

	<h4>Lista de Sesiones</h4>
	<ul>
	{% for sesion in sessions %}
		<li>
			<strong>Date:</strong> <span>{{sesion.date}}</span>
			<strong>User Id:</strong> <span>{{sesion.user_id}}</span>
		</li>
	{% endfor %}
	</ul>





{% endblock %}

{% block footer %}

{% endblock %}