{% extends "foundation/base.html" %}

{% set title ='Titulo bamba' %}

{% block content %}
	
	<h4>Bienvenido <span>{{ user.name }} {{user.lastname}}</span></h4>
	<h3>Tu correo : <span> {{ user.email }}</span></h3>


	<h4>Lista de Alumnos</h4>
	<ul>
	{% for student in user.students %}
		<li>
			<strong>Student Id:</strong> <span>{{student.id}}</span>
			<strong>Full Name:</strong> <span>{{student.name}} {{student.lastname}}</span>
			<strong>Code:</strong> <span>{{student.code}}</span>
			<strong>Tutor:</strong> <span>{{student.tutor}}</span>
		</li>
	{% endfor %}
	</ul>

	<div class="row addStudentRow">
		<div class="small-12 medium-6 columns">
			<button id="addStudentFormButton" class="addStudentFormButton">Agregar un Alumno</button>
		</div>
		<div id="studentsFormWrapper" class="form-wrapper small-12 medium-6 columns hidden">
			<form action="/" method="POST">
				{% with messages = get_flashed_messages(with_categories=true)%}
					{% if messages%}
						<ul class="flashes">
						{% for message in messages %}
							<li class="{{category}}">{{ message }}</li>
						{% endfor %}
						</ul>
					{% endif%}
				{% endwith %}

				{{ form.hidden_tag() }}
				{% for field in form %}
					{% if field != form.csrf_token %}
						{{ field.label}}
						{{ field(class="form-field", placeholder="Rellena este campo")}}
					{% endif%}
				{% endfor %}
				<input type="submit" value="send" class="studentSendButton">
			</form>		
		</div>
	</div>

{% endblock %}


{% block footer %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
{% endblock %}



