{% extends "foundation/base.html" %}
{% set title ='Titulo bamba' %}

{% block content %}
	
	<h4>Lista de Usuarios</h4>
	<ul>
	{% for user in users %}
		<li>
			<strong>User Id:</strong> <span>{{user.id}}</span>
			<strong>Username:</strong> <span>{{user.username}}</span>
		</li>
	{% endfor %}
	</ul>

	<h4>Lista de Sesiones</h4>
	<ul>
	{% for sesion in sessions %}
		<li>
			<strong>Date:</strong> <span>{{sesion.date}}</span>
			<strong>User Id:</strong> <span>{{sesion.user_id}}</span>
		</li>
	{% endfor %}
	</ul>

{% endblock %}

{% block footer %}

{% endblock %}